<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <title>Transcriptify</title>
    </head>
    <body>
        <div id="loading-overlay">
            <div id="loading-modal">
                <img src="/static/images/loading.gif" style="width: 15%; height: 50%;">
                <!-- You can add a loading animation here if desired -->
            </div>
        </div>
        <form method="post" enctype="multipart/form-data">
            <div class="center">
                <h1 class="title">Transcriptify</h1>
            </div>
            <div style="width: 75%; margin: auto; margin-top: 5%; margin-bottom: 5%;">
                <p class="text">An all-in-one solution for converting diverse media formats, including audio, video, and images
                into easily digestible and accessible text-based content. You can upload a file or chat directly with an AI.</p>
            </div>
            <div class="buttons">
                <input type="file" id="archivoInput" accept=".jpg, .png, .mp3, .pdf, .docx, .txt" required name="file"> <button type="submit" class="indexButtons" onclick="detectarTipoDeArchivo()" style="float: left;">Upload file</button> <button class="indexButtons" style="float: right;">ChatBot</button>
            </div>
        </form>


        <script>
            function detectarTipoDeArchivo() {
                const archivoInput = document.getElementById("archivoInput");
    
                const archivo = archivoInput.files[0];
    
                if (archivo) {
                    showLoadingModal();
                } else {
                    alert("Archivo NO aceptado");
                }
            }
            function showLoadingModal() {
                document.getElementById("loading-overlay").style.display = "block";
            }

            function hideLoadingModal() {
                document.getElementById("loading-overlay").style.display = "none";
            }

        </script>    
    </body>
</html>